<div id="app">
  <div class="container">
    <div class=".index-content">
      <div class="work-experience">
        <h1 class="heading"> Students </h1>
        <div class="info" v-for="(student,index) in students" >
          <img class="card" v-bind:src="student.photo">
          <h5 class="student-heading"><a v-bind:href="/resume/+ index">{{ student.first_name }} {{ student.last_name }}</a></h5>
          <p class="sub-heading">{{ student.bio }}</p>
        </div>
      </div>
    </div>
  </div>
</div>