Here is your profile: 

<!DOCTYPE html>
<html>
<head>
  <title>My Resume</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  
<body>
  <div class="container">
    <div class="sidebar">
      <div class="sidebar-top">
        <img class="profile-image" src="http://demo.deviserweb.com/cv/assets/images/profile-img.jpg" />
        <div class="profile-basic">
          <h1 class="name">student.first_name student.last_name</h1>
          <h4 class="designation"> UI & UX Expert </h4>
        </div>
      </div>
      <div class="profile-info">
        <p> student.short_bio   
        </p>
      </div>
      <div class="profile-info">
        <p class="key">Contact : </p>
        <p class="value">student.phone_number</p>
      </div>

      <div class="profile-info">
        <p class="key" >Email : </p>
        <p class="value" >student.email</p>
      </div>

      <div class="profile-info">
        <p class="key" >Address : </p>
        <p class="value" >
          24 Golden Tower<br/>
          Amborkhana, Sylhet.<br/>
          SYL-3RF87W
        </p>
      </div>

      <div class="profile-info">
        <a class="social-media" href="https://facebook.com/anupama.panchal" target="_blank" >Facebook</a>
        <a class="social-media" href="https://facebook.com/anupama.panchal" target="_blank" >Linkedin</a>
        <a class="social-media" href="https://facebook.com/anupama.panchal" target="_blank" >Twitter</a>
        <a class="social-media" href="https://facebook.com/anupama.panchal" target="_blank" >Instagram</a>
      </div>
    </div>

<!-- WORK EXPERIENCE  -->
    <div class="content">

      <div class="work-experience">
        <h1 class="heading"> Work Experience</h1>
        <div class="info" v-for="experience in student.experiences" >
          <p class="sub-heading">{{ experience.job_title }} @ {{ experience.company_name }}</p>
          <p class="duration">{{ experience.start_date }} - {{ experience.end_date }}</p>
          <p> {{ experience.details }} </p>
        </div>
      </div>

<!-- EDUCATION -->
      <div class="education">
        <h1 class="heading">Education</h1>
        <div class="info" v-for="education in student.education" >
          <p class="sub-heading"> {{ education.degree }} @ {{ education.university_name }}</p>
          <p class="duration">{{ education.start_date }} - {{ experience.end_date }}</p>
          <p>{{ education.details }}</p>
        </div>
      </div>
    </div>

  </div>
</body>
</html>










<div id="app">


 {{ message }}

<!-- PROFILE INFO  -->
<!-- PROFILE END -->


<!-- EXPERIENCE WITH DATA -->
<!-- <div class="experience" v-for="experience in student.experiences" >
<h4> Company: {{ experience.company_name }} </h4>
<h4> Title: {{ experience.job_title }} </h4>
<p> Start Date: {{ experience.start_date }} to End Date: {{ experience.end_date }} </p>
<p> Job Description: {{ experience.details }} </p>
</div> -->
<!-- EXPERIENCE END -->


<!-- EDUCATION WITH DATA -->
<!-- <div class="education" v-for="education in student.education" >
  <h4> Degree: {{ education.degree }} </h4>
  <h5> University Name: {{ education.university_name }} </h5>
  <p> Start Date: {{ education.start_date }} to End Date: {{ education.end_date }} </p>
  <p> Details: {{ education.details }} </p>
</div> -->
<!-- EDUCATION END -->


</div>

