<div id="app">
    <div class="container">

  <!-- PROFILE INFO -->
      <div class="sidebar">
        <div class="sidebar-top">
          <img v-bind:src="student[0].photo">
          <div class="profile-basic">
            <h1 class="name">{{student[0].firstName}} {{student[0].lastName}}</h1>
          </div>
        </div>
        <div class="profile-info">
          <p> {{student[0].bio}}   
          </p>
        </div>
        <div class="profile-info">
          <p class="key">Contact : </p>
          <p class="value">{{student[0].phone}}</p>
        </div>

        <div class="profile-info">
          <p class="key" >Email : </p>
          <p class="value" >{{student[0].email}}</p>
        </div>

        <div class="profile-info">
          <p class="key" >Address : </p>
          <p class="value" >{{student[0].address}}</p>
        </div>
        <div class="profile-info">
          <a class="social-media" v-bind:href="student[0].linkedin" target="_blank" >LinkedIn</a>
          <a class="social-media" v-bind:href="student[0].twitter" target="_blank" >Twitter</a>
          <a class="social-media" v-bind:href="student[0].blogUrl" target="_blank" >Personal Blog</a>
          <a class="social-media" v-bind:href="student[0].resumeUrl" target="_blank" >Resume</a>
          <a class="social-media" v-bind:href="student[0].githubUrl" target="_blank" >Github</a>
        </div>
      </div>
  <!-- END PROFILE INFO -->


  <!-- WORK EXPERIENCE -->

    <div class="content">
      <div class="work-experience">
        <h1 class="heading"> Work Experience</h1>
        <div class="info" v-for="experience in student[0].experiences" >
          <p class="sub-heading">{{ experience.jobTitle }} @ {{ experience.company }}</p>
          <p class="duration">{{ experience.startDate }} - {{ experience.endDate }}</p>
          <p> {{ experience.details }} </p>
        </div>
      </div>

  <!-- END WORK EXPERIENCE -->



  <!-- EDUCATION INFO -->
      
      <div class="education">
        <h1 class="heading">Education</h1>
        <div class="info" v-for="education in student[0].educations" >
          <p class="sub-heading"> {{ education.degree }} @ {{ education.school }}</p>
          <p class="duration">{{ education.startDate }} - {{ education.endDate }}</p>
          <p>{{ education.details }}</p>
        </div>
      </div>

  <!-- END EDUCATION INFO -->


  <!-- SKILLS INFO -->
        <div class="skills">
          <h1 class="heading">Skills</h1>
          <div class="info">
            <ul>
              <li v-for="skill in student[0].skills">{{skill.name}}</li>
            </ul>
          </div>
        </div>
  <!-- END SKILLS INFO -->

  <!-- CAPSTONE INFO -->
        <div class="capstone">
          <h1 class="heading">Capstone</h1>
          <div class="info" v-for="capstone in student[0].capstones">
            <p class="sub-heading">{{capstone.capstoneName}}</p>
            <p class="sub-heading">Desription:</p>
            <p>{{capstone.description}}</p>
            <p class="sub-heading">URL:</p>
            <p>{{capstone.capstoneUrl}}</p>
            <p>{{capstone.screenshot}}</p>
          </div>
        </div>
  <!-- END CAPSTONE INFO -->

      <a class="twitter-timeline" v-bind:href="student[0].twitter">Tweets by {{firstName}} {{lastName}}</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    </div>

  </div>
</div>