<div id="app">
    <div class="container">

  <!-- PROFILE INFO -->
      <div class="sidebar">
        <div class="sidebar-top">
          <img v-bind:src="students[0].photo">
          <div class="profile-basic">
            <h1 class="name">{{students[0].first_name}} {{students[0].last_name}}</h1>
          </div>
        </div>
        <div class="profile-info">
          <p> {{students[0].bio}}   
          </p>
        </div>
        <div class="profile-info">
          <p class="key">Contact : </p>
          <p class="value">{{students[0].phone_number}}</p>
        </div>

        <div class="profile-info">
          <p class="key" >Email : </p>
          <p class="value" >{{students[0].email}}</p>
        </div>


        <div class="profile-info">
          <a class="social-media" v-bind:href="students[0].linkedin_url" target="_blank" >LinkedIn</a>
          <a class="social-media" v-bind:href="students[0].twitter_handle" target="_blank" >Twitter</a>
         <!--  <a class="social-media" v-bind:href="students[0].blogUrl" target="_blank" >Personal Blog</a> -->
          <a class="social-media" v-bind:href="students[0].resume_url" target="_blank" >Resume</a>
          <a class="social-media" v-bind:href="students[0].github_url" target="_blank" >Github</a>
        </div>
      </div>
  <!-- END PROFILE INFO -->


  <!-- WORK EXPERIENCE -->

    <div class="content">
      <div class="work-experience">
        <h1 class="heading"> Work Experience</h1>
        <!-- <div class="info" v-for="experience in experiences" v-if="isValidExperience(experience)"> -->
          <p class="sub-heading">{{ experiences[0].job_title }} @ {{ experiences[0].company_name }}</p>
          <p class="duration">{{ experiences[0].start_date }} - {{ experiences[0].end_date }}</p>
          <p> {{ experiences[0].details }} </p>
      </div>

  <!-- END WORK EXPERIENCE -->

  <!-- EDUCATION INFO -->
      
      <div class="education">
        <h1 class="heading">Education</h1>
          <p class="sub-heading"> {{ educations[0].degree }} @ {{ educations[0].university_name }}</p>
          <p class="duration">{{ educations[0].start_date }} - {{ educations[0].end_date }}</p>
          <p>{{ educations[0].details }}</p>
      </div>

  <!-- END EDUCATION INFO -->


  <!-- SKILLS INFO -->
        <div class="skills">
          <h1 class="heading">Skills</h1>
          <div class="info">
            <ul>
              <li>{{skills[0].skill_name}}</li>
            </ul>
          </div>
        </div>
  <!-- END SKILLS INFO -->

  <!-- CAPSTONE INFO -->
        <div class="capstone">
          <h1 class="heading">Capstone</h1>
            <p class="sub-heading">{{capstones[0].capstone_name}}</p>
            <p class="sub-heading">Desription:</p>
            <p>{{capstones[0].description}}</p>
            <p class="sub-heading">URL:</p>
            <p>{{capstones[0].capstone_url}}</p>
            <p>{{capstones[0].screenshot}}</p>
        </div>
  <!-- END CAPSTONE INFO -->

      <!--   <a class="twitter-timeline" v-bind:href="https://twitter.com/josepoggioli">Tweets by {{students[0].first_name}} {{students[0].last_name}}</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->


  </div>

  </div>
</div>